BODY, INPUT, TABLE, TH, TR, TD, OL, LI, DIV, SPAN, A, P {
	font-size:   10pt;
	font-family:      Verdana, sans-serif;
}

BODY {
	margin:           3px;
}

/*
b {
	font-size: 10pt;
}
*/

/*
th {
	color:       #000000;
	font-size:   10pt;
	font-weight: lighter;
}

*/
td {
/*	color:       #666666; */
	font-size:   10pt;
	font-weight: lighter;
}


td.s1 {
	color:            #666666;
	background-color: #dfedf0;
	font-size:        10pt;
	font-weight:      bold;
	border-style:     none;
	border-color:     #cccccc;
}


ol.s2 {
	color:				#5b80a4;
	font-size:			11pt;
	list-style-type:	lower-alpha;
}

ol.s3 {
	color:				#55969d;
	font-size:			11pt;
	list-style-type:	lower-roman;
}

ol.s4{
  font-size : 11pt;
  color : #008000;
  list-style-type : lower-alpha;
}

ol.h1{
  color : #008000;
  list-style-type : decimal;
}

/*
dt.caution {
	color:       #ff0000;
	font-size:   10pt;
}

dd.caution {
	color:       #ff0000;
	font-size:   10pt;
}

dt.notice {
	color:       #e88517;
	font-size:   10pt;
	font-weight: bold;
}

dd.notice {
	color:       #e88517;
	font-size:   10pt;
	font-weight: lighter;
}

dt.hint {
	color:       #008000;
	font-size:   10pt;
	font-weight: bold;
}

dd.hint {
	color:       #008000;
	font-size:   10pt;
	font-weight: lighter;
}

dt.example {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
}

dd.example {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
}
*/

span.caution-dt {
	color:       #ff0000;
	font-size:   10pt;
}

span.caution-dd {
	color:       #ff0000;
	font-size:   10pt;
}

span.notice-dt {
	color:       #e88517;
	font-size:   10pt;
	font-weight: bold;
}

SPAN.notice-dd {
	color:       #e88517;
	font-size:   10pt;
	font-weight: lighter;
  list-style-type : disc;
}

span.hint-dt {
	color:       #008000;
	font-size:   10pt;
	font-weight: bold;
}

span.hint-dd {
	color:       #008000;
	font-size:   10pt;
	font-weight: lighter;
}

span.example-dt {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
}

span.example-dd {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
}

span.case-dt {
	color:       #000000;
	font-size:   10pt;
	font-weight: lighter;
}

span.case-dd {
	color:       #000000;
	font-size:   10pt;
	font-weight: lighter;
}


img.float {
	position: relative;
	float:    right;
}

P.ptxt{
	
	font-size:   10pt;
	font-weight: lighter;
  
}

div.ol-lv1{
	margin-left:	40px;
}




/** HEADER **/
td.title {
	background:#666666;
	color:#FFFFFF;
	font-weight:bold;
}





/** MENU **/
P.title-name {
	font-size:     11pt;
	font-weight:   bold;
	border-style:  solid;
	border-width:  0px 0px 1px 0px;
	border-color:  #000000;
  list-style-type : decimal;
}

ol.number-no {
	font-size:       9pt;
	font-weight:     bold;
	list-style-type: disc;
	line-height:     2em;
}

a.item:link {
	color:           #000000;
	text-decoration: none;
}

a.item:visited {
	color:           #000000;
	text-decoration: none;
}

a.item:hover {
	color:           #3b96bf;
	text-decoration: none;
}

a.item:active {
	color:           #9C0000;
	text-decoration: none;
}
OL.c1{
  color : red;
  list-style-type : lower-alpha;
}
